<!-- templates/consultas.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
</head>
<body>
    <h1>Información de Consultas</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Especialista</th>
                <th>Tipo de Consulta</th>
            </tr>
        </thead>
        <tbody>
            {% for consulta in consultas %}
                <tr>
                    <td>{{ consulta.id }}</td>
                    <td>{{ consulta.nombre_especialista }}</td>
                    <td>{{ consulta.tipo_consulta }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
