<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista Mayor Riesgo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
</head>
<body>
    <h1>Pacientes Mayor Riesgo</h1>

    <table border="1">
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for paciente in pacientes %}
            <tr>
                {% for value in paciente %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
