<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala de Espera</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
</head>
<body>
    <h1>Sala de Espera</h1>
    <table>
        <thead>
            <tr>
                {% for columna in columnas %}
                    <th>{{ columna }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}
                <tr>
                    {% for columna in columnas %}
                        <td>{{ paciente[columna] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{{ url_for('atender_sala_espera') }}" method="get">
        <input type="submit" value="Atender Sala de Espera">
    </form>
</body>
</html>
